<h1> This Is Our Index Page </h1> 
<ul> 
<% @cats.each do |cat| %>
   <li><a href="<%= cat_url(cat) %>"> <%= cat.name %></a> </li>
<%= render 'cat', {cat: cat} %>
</ul>
<% end %>





<!---<ul>
   >-<li><a href=<%="/users/#{user.id}"%>><%= user.username %></a></li>--->
   <!---<li><a href=<%= user_url(user.id) %>><%= user.username %></a></li>
   <li><%= user.age %></li>
   <li><%= user.email %></li>
   <li><%= user.political_affiliation %></li>--->
   <!---<ul><%= render "user", {user: user} %>
</ul>--->

